/blib/
/lib/**/*.o
/t/**/*.o
/src/Makefile
/.panda-work
/a.out
/pone_generated.c
/pone_generated.out
*.moarvm
core.*
vgcore.*
tags
/bin/pone
/pone_generated.pone
/perf.data
*.o
*.so
*.a
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Testing/
/cmake_install.cmake
/pvip-prefix/
/Makefile
/.ycm_extra_conf.py
/.ycm_extra_conf.pyc
/gen.*.c
/src/gen.node.c
/include/pone_config.h
