language: perl6
perl6:
  - latest
install:
  - rakudobrew build-panda
  - panda --notests installdeps .
  - curl http://cpanmin.us/ | perl - Capture::Tiny Test::Base
script:
  - perl6 -MPanda::Builder -e 'Panda::Builder.build($*CWD)'
  - prove -lrv .
sudo: false
